# Georeferenciar

Ya vimos en el apartado dedicado a la [uni칩n de dataframes](../S3-procesamiento/S3P5-union-df.md) como agregar la informaci칩n de geolocalizaci칩n de un conjunto de datos a otro. En este sentido, la complejidad radica simplemente en encontrar un listado o conjunto de datos que coincida con los espacios que queremos representar.

Lo que tenemos que garantizar simplemente es que la clave del nombre coincida con el lugar de geolocalizaci칩n.

En datos globales, la geolocalizaci칩n por pa칤ses puede valerse de los c칩digos alpha-2 y alpha-3, que corresponden a una cadena de dos o tres letras que identifican el pa칤s.

En Python, una librer칤a muy utilizada para realizar esta tarea es [`pycountry`](https://pypi.org/project/pycountry/).

Para usar esta librer칤a en Google Colab, primero necesitamos instalarla de la siguiente manera:

In [1]:
!pip install pycountry

Requirement already satisfied: pycountry in /Users/jairoantonio/opt/anaconda3/lib/python3.9/site-packages (22.3.5)
Requirement already satisfied: setuptools in /Users/jairoantonio/opt/anaconda3/lib/python3.9/site-packages (from pycountry) (58.0.4)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: pip install --upgrade pip

Posteriormente podemos importarla y utilizarla:

In [2]:
import pycountry
pycountry.countries.get(alpha_2='MX')

Country(alpha_2='MX', alpha_3='MEX', flag='游쓇릖', name='Mexico', numeric='484', official_name='United Mexican States')

Nuestra fuente de datos de `covid_nacional` contiene informaci칩n relacionada con el pa칤s de origen, disponible en la columna `pais_nacionalidad`, as칤 que podremos transformar esa columna para obtener los datos de georeferenciaci칩n.

Pero antes, veamos un ejemplo ideal:

In [3]:
import pandas as pd
paises = pd.DataFrame({'Nombre': ['Andrea', 'Natalia', 'Guadalupe', 'Pedro', 'Joaqu칤n', 'Julio', 'Luisa', 'Juan', 'Vicente'], 'Pa칤s': ['Mexico', 'United States', 'Spain', 'France', 'Italy', 'Germany', 'China', 'Japan', 'Korea, Republic of']})
paises

      Nombre                Pa칤s
0     Andrea              Mexico
1    Natalia       United States
2  Guadalupe               Spain
3      Pedro              France
4    Joaqu칤n               Italy
5      Julio             Germany
6      Luisa               China
7       Juan               Japan
8    Vicente  Korea, Republic of

En este caso, podemos utilizar un funci칩n para obtener el c칩digo alpha-2 de cada pa칤s a partir de su nombre en ingl칠s:

In [4]:
paises['alpha2'] = paises['Pa칤s'].apply(lambda x: pycountry.countries.get(name=x).alpha_2)
paises

      Nombre                Pa칤s alpha2
0     Andrea              Mexico     MX
1    Natalia       United States     US
2  Guadalupe               Spain     ES
3      Pedro              France     FR
4    Joaqu칤n               Italy     IT
5      Julio             Germany     DE
6      Luisa               China     CN
7       Juan               Japan     JP
8    Vicente  Korea, Republic of     KR

Con este dato (alpha_2 o alpha_3) tendremos la posibilidad de visualizar nuestra informaci칩n en un mapa.

```{admonition} Funci칩n lambda
:class: tip
En este caso utilizamos una funci칩n lambda. Este es un concepto algo complicado, pero b치sicamente, es una funci칩n que utilizaremos una sola vez y de manera repetida en una serie de filas.
```

Obviamente, el inconveniente ahora ser치 encontrar una opci칩n para los casos en espa침ol. En este caso, incluyo esta funci칩n, modificada ligeramente a partir de esta respuesta dada en [StackOverflow](https://stackoverflow.com/a/62486395), con la cual podemos realizar esta conversi칩n:

```{admonition} conversor
:class: tip
El c칩digo que viene a continuaci칩n es un programa hecho a medida para manipular nuestros datos y poder visualizarlos posteriormente. No es necesario que lo apliques en este curso, pero ten en cuenta que no siempre es posible recurrir a soluciones predeterminadas y sint칠ticas para resolver un problema proveniente de nuestros conjuntos de datos.
```

In [5]:
import pycountry
import gettext

# Esta correcci칩n es necesaria para incluir una serie de pa칤ses que de otra manera quedar칤an excluidos
# Se excluyeron las siguientes claves por ser ambiguas o no localizables: 'OTRO', 'SE DESCONOCE', 'REP칔BLICA CHECA Y REP칔BLICA ESLOVACA', 'PA칈SES DE LA EX-U.R.S.S., EXCEPTO UCRANIA Y BIELORUSIA', 'AZERBAIY츼N - ISLAS AZORES'

correccion_paises = {
        'nombre_original': ['ESTADOS UNIDOS DE AM칄RICA', 'VENEZUELA', 'TAIW츼N', 'HOLANDA', 'REP칔BLICA DE HONDURAS', 'BOLIVIA',
                            'REP칔BLICA DE COREA', 'GRAN BRETA칌A (REINO UNIDO)', 'RUSIA',
                            'REP칔BLICA DE COSTA RICA', 'REP칔BLICA DE PANAM츼',
                            'REP칔BLICA ORIENTAL DEL URUGUAY',
                            'RUMANIA', 'IR츼N', 'ESTADO LIBRE ASOCIADO DE PUERTO RICO',
                            'ESTADO DE KUWAIT', 'ANTIGUA Y BERMUDA',
                            'CAMPIONE DITALIA',
                            'EMIRATOS ARABES UNIDOS',
                            'ZONA ESPECIAL CANARIA', 'COMMONWEALTH DE DOMINICA',
                            'THAILANDIA', 'ESTADO DE BAHREIN', 'MAL칈',
                            'ISLAS MENORES ALEJADAS DE LOS ESTADOS UNIDOS', 'GUYANA FRANCESA',
                            'IRAQ'],
        'nombre_corregido': ['ESTADOS UNIDOS', 'VENEZUELA, REP칔BLICA BOLIVARIANA DE', 'TAIW츼N, PROVINCIA DE CHINA', 'PA칈SES BAJOS', 'HONDURAS', 'BOLIVIA, ESTADO PLURINACIONAL de',
                             'COREA, REP칔BLICA DE', 'Reino Unido', 'FEDERACI칍N RUSA',
                             'COSTA RICA', 'PANAM츼', 'URUGUAY', 'ruman칤a', 'ir치n, rep칰blica isl치mica de', 'Puerto rico', 'KUWAIT', 'ANTIGUA Y BARBUDA', 'ITALIA', 'EMIRATOS 츼RABES UNIDOS', 'ESPA칌A', 'DOMINICA', 'TAILANDIA', 'BAHREIN', 'MALI', 'ESTADOS UNIDOS', 'GUYANA', 'IRAK']
    }


none_countries = {'nombre': ['ZONA NEUTRAL', 'COSTA DE MARFIL', 'REP칔BLICA DEMOCR츼TICA DE COREA', 'ARGELIA', 'NUEVA ZELANDIA', 'ARABIA SAUDITA', 'REP칔BLICA CENTRO AFRICANA', 'SUD츼FRICA'],
                  'alpha2': ['NT', 'CI', 'KP', 'DZ', 'NZ', 'SA', 'CF', 'ZA'],
                  'alpha3': ['NTZ', 'CIV', 'PRK', 'DZA', 'NZL', 'SAU', 'CAF', 'ZAF']}


def map_country_code(country_name, language, iso):
    '''
    country_name: str. El nombre del pa칤s en espa침ol.
    language: str. El idioma en el que se desea obtener el c칩digo (p. ej: 'es').
    iso: str. Opciones posibles: 'alpha_2' o 'alpha_3'.
    '''
    try:
        if country_name is None:
            return None
        # esta condici칩n sintetiza el caso de M칠xico (reduce de 5 minutos a 6 segundos el tiempo de ejecuci칩n)
        elif country_name == 'M칄XICO':
            if iso == 'alpha_2':
                return 'MX'
            elif iso == 'alpha_3':
                return 'MEX'

        spanish = gettext.translation(
            'iso3166', pycountry.LOCALES_DIR, languages=[language])
        spanish.install()
        _ = spanish.gettext

        # check if country_name is in correccion_paises['nombre_original'] and correct it with correccion_paises['nombre_corregido']
        if country_name in correccion_paises['nombre_original']:
            country_name = correccion_paises['nombre_corregido'][correccion_paises['nombre_original'].index(country_name)] 

        if country_name in none_countries['nombre']:
            if iso == 'alpha_2':
                return none_countries['alpha2'][none_countries['nombre'].index(country_name)]
            elif iso == 'alpha_3':
                return none_countries['alpha3'][none_countries['nombre'].index(country_name)]
        else:
            for english_country in pycountry.countries:
                country_name = country_name.lower()
                spanish_country = _(english_country.name).lower()
                if spanish_country == country_name:
                    if iso == 'alpha_3':
                        return english_country.alpha_3
                    elif iso == 'alpha_2':
                        return english_country.alpha_2
   
    except Exception as e:
        raise

Por lo pronto, solamente es relevante que con esta funci칩n puedes obtener el c칩digo alpha-2 o alpha-3 de un pa칤s en varios idiomas. Podemos probar que funciona de la siguiente manera:

In [6]:
map_country_code('Espa침a', 'es', 'alpha_2')

'ES'

Ahora, vamos a aplicarlo a nuestro conjunto de datos:

In [7]:
muestra_covid = pd.read_csv("../data/muestra_covid.csv")

/Users/jairoantonio/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
muestra_covid['alpha3'] = muestra_covid['pais_nacionalidad'].apply(lambda x: map_country_code(x, 'es', 'alpha_3'))
muestra_covid['alpha2'] = muestra_covid['pais_nacionalidad'].apply(lambda x: map_country_code(x, 'es', 'alpha_2'))
muestra_covid.head()

,Unnamed: 0,sexo,edad,entidad_nacimiento,municipio_residencia,indigena,nacionalidad,migrante,pais_nacionalidad,fecha_ingreso,fecha_sintomas,fecha_def,alpha3,alpha2
0,0,HOMBRE,43,CIUDAD DE M칄XICO,NaN,NO,MEXICANA,NO ESPECIFICADO,M칄XICO,2022-05-03,2022-05-03,NaN,MEX,MX
1,1,HOMBRE,39,CIUDAD DE M칄XICO,NaN,NO,MEXICANA,NO ESPECIFICADO,M칄XICO,2022-01-13,2022-01-10,NaN,MEX,MX
2,2,HOMBRE,55,CIUDAD DE M칄XICO,NaN,NO,MEXICANA,NO ESPECIFICADO,M칄XICO,2022-01-12,2022-01-12,NaN,MEX,MX
3,3,HOMBRE,54,CIUDAD DE M칄XICO,NaN,NO,MEXICANA,NO ESPECIFICADO,M칄XICO,2022-02-20,2022-02-13,NaN,MEX,MX
4,4,MUJER,41,CIUDAD DE M칄XICO,NaN,NO,MEXICANA,NO ESPECIFICADO,M칄XICO,2022-01-12,2022-01-10,NaN,MEX,MX

In [9]:
muestra_covid.to_csv('../data/muestra_georef_covid.csv', index=False)

Como ver치s, las soluciones no siempre vienen dadas de antemano. Ciertas situaciones requerir치n de nuestra exploraci칩n y creatividad para resolver un problema o alcanzar el objetivo que estamos buscando.

La gran riqueza de la programaci칩n radica, precisamente, en la capacidad creativa que podemos tener con cada lenguaje.