# `to_csv`

Después de realizar todas las operaciones, podemos guardar el resultado en un archivo csv para reutilizarlo o compartirlo. `Pandas` incluye una función que facilita esta tarea, el único requisito consiste en indicar el nombre del archivo y la ruta donde se guardará.

Vamos a asegurar que tenemos el conjunto de datos que requerimos, con la información limpia, procesada y transformada.

In [1]:
import pandas as pd

muestra_covid = pd.read_csv('../data/muestra_covid.csv')
geolocalizacion = pd.read_csv('../data/geolocalizacion.csv')

/Users/jairoantonio/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Utilizaremos los conjuntos de datos que [segmentamos previamente](../S3-procesamiento/S3P7-segmentar.md) y los uniremos siguiendo lo que observamos en la sección [combinar fuentes de datos](../S3-procesamiento/S3P5-union-df.md).

In [2]:
covid_clean = pd.merge(muestra_covid, geolocalizacion, how='inner', on='municipio_residencia')

Llenamos los valores nulos con 'NO APLICA' para que no sean considerados en el análisis. Dejaremos como valores nulos los correspondientes a `fecha_def` para poder hacer la transformación de fechas.

In [3]:
covid_clean.fillna({'municipio_residencia': 'NO APLICA', 'pais_nacionalidad': 'NO APLICA'}, inplace=True)

Transformamos los valores de las columnas `['fecha_ingreso', 'fecha_sintomas', 'fecha_def']` a `datetime64[ns]`.

In [4]:
columnas = ['fecha_ingreso', 'fecha_sintomas', 'fecha_def']
for columna in columnas:
    muestra_covid[columna] = pd.to_datetime(muestra_covid.loc[:, columna])

muestra_covid.dtypes

Unnamed: 0                       int64
sexo                            object
edad                             int64
entidad_nacimiento              object
municipio_residencia            object
indigena                        object
nacionalidad                    object
migrante                        object
pais_nacionalidad               object
fecha_ingreso           datetime64[ns]
fecha_sintomas          datetime64[ns]
fecha_def               datetime64[ns]
dtype: object

Y con esto tenemos listo nuestro conjunto de datos para guardarlo en un archivo csv.

In [5]:
ruta = '../data/covid_clean.csv'
covid_clean.to_csv(ruta, index=False) # Recuerda modificar la ruta a tu Drive. Debe ser algo como '/content/drive/MyDrive/Tu Directorio/elnombredetucsv.csv'

Y para comprobar que lo hicimos correctamente:

In [6]:
pd.read_csv(ruta)

,Unnamed: 0_x,sexo,edad,entidad_nacimiento,municipio_residencia,indigena,nacionalidad,migrante,pais_nacionalidad,fecha_ingreso,fecha_sintomas,fecha_def,Unnamed: 0_y,Lat_Decimal,Lon_Decimal
0,7,MUJER,75,QUERÉTARO,naucalpan de juárez,NO,MEXICANA,NO ESPECIFICADO,MÉXICO,2022-02-21,2022-02-16,NaN,141786,19.478803,-99.233218
1,142,MUJER,32,CIUDAD DE MÉXICO,naucalpan de juárez,NO ESPECIFICADO,MEXICANA,NO ESPECIFICADO,MÉXICO,2022-01-07,2022-01-02,NaN,141786,19.478803,-99.233218
2,153,HOMBRE,30,CIUDAD DE MÉXICO,naucalpan de juárez,NO,MEXICANA,NO ESPECIFICADO,MÉXICO,2022-02-04,2022-02-03,NaN,141786,19.478803,-99.233218
3,911,MUJER,51,CIUDAD DE MÉXICO,naucalpan de juárez,NO,MEXICANA,NO ESPECIFICADO,MÉXICO,2022-01-01,2021-12-28,NaN,141786,19.478803,-99.233218
4,1031,HOMBRE,83,GUANAJUATO,naucalpan de juárez,NO,MEXICANA,NO ESPECIFICADO,MÉXICO,2022-01-01,2021-12-30,NaN,141786,19.478803,-99.233218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158080,1300735,HOMBRE,12,VERACRUZ DE IGNACIO DE LA LLAVE,amatlán de los reyes,NO,MEXICANA,NO ESPECIFICADO,MÉXICO,2022-06-23,2022-06-23,NaN,257896,18.847578,-96.915484
158081,1304944,MUJER,46,CIUDAD DE MÉXICO,amatlán de los reyes,NO,MEXICANA,NO ESPECIFICADO,MÉXICO,2022-06-22,2022-06-19,NaN,257896,18.847578,-96.915484
158082,1306736,MUJER,59,CIUDAD DE MÉXICO,general simón bolívar,NO,MEXICANA,NO ESPECIFICADO,MÉXICO,2022-06-23,2022-06-22,NaN,86081,24.689074,-103.225975
158083,1308787,MUJER,27,MÉXICO,temozón,NO,MEXICANA,NO ESPECIFICADO,MÉXICO,2022-06-24,2022-06-22,NaN,289799,20.803680,-88.201158
158084,1311869,MUJER,32,MÉXICO,izamal,NO,MEXICANA,NO ESPECIFICADO,MÉXICO,2022-06-24,2022-06-20,NaN,286011,20.932998,-89.019715

¡Excelente! Ya estás listo para entregar la actividad de cierre de esta semana y proceder a la visualización de datos.